@inject GameControler GameControler
@inject JSRuntime JS
@inject EventAgregator<Player> EventAgregator
<h3>newTradeOffer</h3>
<inputNumber type="number" @bind="ExpectedPrice" />
<inputNumber type="number" @bind="amountOfferedToSale" />
<InputRadioGroup @bind-Value="TradeType">
	<InputRadio Value="SpotMarketOfferType.Buy" />Buy
	<InputRadio Value="SpotMarketOfferType.Sell" />Sell
</InputRadioGroup>

<button @onclick="TryCreateNewTradeOffer">Create</button>

@code {

	[CascadingParameter]
	public Player? Player { get; set; }
	public double ExpectedPrice = 0;
	public double AmountOfferedToSale = 0;
	public SpotMarketOfferType TradeType = SpotMarketOfferType.Sell;

	override protected void OnInitialized()
	{
		
	}
	void TryCreateNewTradeOffer()
	{

		if(!GameControler.Game.SpotMarket.TryCreateNewTradeOffer(Resource.CreateOil(AmountOfferedToSale), Resource.CreateMoney(ExpectedPrice), Player, TradeType))
		{
			JS.InvokeVoidAsync("alert", "Creating new trade offer failed");
		};

	}
}
