@inject GameControler GameControler
@inject IJSRuntime JS
@inject EventAgregator<SpotMarket> EventAgregator
@inject UserState<Player> userState

<div>
<h3>Submit trade to SpotMarket</h3>
<label>
	Expected price per unit
<InputNumber  @bind-Value="ExpectedPrice" />
</label>
<label>
	Amount of resources in trade
<InputNumber  @bind-Value="AmountOfferedToSale" />
</label>
<InputRadioGroup @bind-Value="TradeType">
	<InputRadio Value="SpotMarketOfferType.Buy" />Buy
	<InputRadio Value="SpotMarketOfferType.Sell" />Sell
</InputRadioGroup>

<button @onclick="TryCreateNewTradeOffer">Create</button>
</div>
@code {

	[CascadingParameter]
	public Player? Player { get; set; }
	public double ExpectedPrice = 0;
	public double AmountOfferedToSale = 0;
	public SpotMarketOfferType TradeType = SpotMarketOfferType.Sell;

	override protected void OnInitialized()
	{

	}
	void TryCreateNewTradeOffer()
	{

		if(!GameControler.Game.SpotMarket.GetSpotMarket<Oil>().TryCreateNewTradeOffer(new R<Oil>(AmountOfferedToSale), new R<Money>(ExpectedPrice), Player.Trader, TradeType))
		{
			JS.InvokeVoidAsync("alert", "Creating new trade offer failed");
		}
		else
		{
			EventAgregator.Publish(GameControler.Game.SpotMarket);
			userState.Publish(Player, Player);
		};


	}
}
