@inject UserStateMaintainer UserStateMaintainer
@inject IJSRuntime JS

<h3>LogOut</h3>
<button @onclick="TryLogOut">LogIn</button>
@code {
	void TryLogOut()
	{
		UserStateMaintainer.TryLogoutPlayer();
		JS.InvokeVoidAsync("alert", "You have been logged out, just close all other tabs with the game and you are safe");
	}
}
