


<div class="row">
	<div class="col-6">
		@Name
	</div>
	<div class="col-6">
		@Value
	</div>
</div>
@code {
	[Parameter]
	public double Value { get; set; }
	[Parameter]
	public string Name { get; set; }
}

