@page "/singin"
@inject AuthenticationStateProvider  AuthenticationStateProvider

<h3>SingInPage</h3>
<AuthorizeView>
<NotAuthorized>
		 <SingIn></SingIn>
	</NotAuthorized>
	<Authorized>
		<div> Welcome, @context.User.Identity.Name</div>
		<LogOut></LogOut>
	</Authorized>
</AuthorizeView>

@code{
}

